{{> head}}
{{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>DEADPOOOL</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Explicabo facilis alias beatae. Eum quidem illo fugiat, quisquam, voluptatibus aliquam eveniet pariatur perferendis et, reprehenderit veniam itaque expedita. Optio.</p>
        </div>
        <div class="col-4">
            {{!-- <h1>titulo 2</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, explicabo! Explicabo facilis alias beatae. Eum quidem illo fugiat, quisquam, voluptatibus aliquam eveniet pariatur perferendis et, reprehenderit veniam itaque expedita. Optio.</p> --}}
        <img src="assets/img/deadpool.jpg" class="img-thumbnail">
        </div>
    </div>
{{> footer}}